.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack-btn {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px 8px 5px 8px;
  h5 {
    margin: 0;
  }
}

.stack-btn img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 8px;
}

/* Efecto al pasar el mouse por encima */
.grande {
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.grande:hover {
  transform: scale(1.1);
}
